<div class="modal-header">
    <h6 class="modal-title pull-left font-weight-bold">
        {{ tipoFormulario == 1 ? 'NUEVO PAQUETE EXTERNO' : 'ACTUALIZAR PAQUETE EXTERNO' }}</h6>
    <button type="button" class="close pull-right" aria-label="Close" (click)="cerrar()">
        <span aria-hidden="true" class="text-white">&times;</span>
    </button>
</div>

<form [formGroup]="paqueteExternoForm" (ngSubmit)="submit(paqueteExternoForm.value)">
    <div class="modal-body pr-3">
        <app-valid-input placeholder="Nombre"
            [valid]="paqueteExternoForm.get('nombre').valid && paqueteExternoForm.get('nombre').touched"
            [invalid]="paqueteExternoForm.get('nombre').invalid && paqueteExternoForm.get('nombre').touched"
            mensajeInvalido="El nombre del paquete externo es obligatorio" tipo="text" nombre="nombre"
            formControlName="nombre">
        </app-valid-input>
        <div *ngIf="tipoFormulario == 2">
            <app-activo-switch formControlName="activo">
            </app-activo-switch>
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-success" [disabled]="paqueteExternoForm.invalid">{{tipoFormulario==1 ? 'Registrar' : 'Actualizar'}}</button>
    </div>
</form>