<div class="modal-header">
  <h6 class="modal-title pull-left font-weight-bold">{{ titulo }}</h6>
</div>

<form [formGroup]="agregarForm" (ngSubmit)=onSubmit(agregarForm.value)>
  <div class="card-body">
    <app-valid-input placeholder="Código de bandeja"
      [valid]="agregarForm.get('codigo').valid && agregarForm.get('codigo').touched"
      [invalid]="agregarForm.get('codigo').invalid && agregarForm.get('codigo').touched"
      [mensajeInvalido]="!validarLongitud(agregarForm.get('codigo').value) ? 'El código ya se encuentra en el sistema': 'Es necesario ingresar el código de bandeja' "
      tipo="text" nombre="codigo" formControlName="codigo">
    </app-valid-input>
    <app-valid-input placeholder="Nombre" [valid]="agregarForm.get('nombre').valid && agregarForm.get('nombre').touched"
      [invalid]="agregarForm.get('nombre').invalid && agregarForm.get('nombre').touched"
      [mensajeInvalido]="'Es necesario ingresar el nombre del área'" tipo="text" nombre="nombre"
      formControlName="nombre">
    </app-valid-input>
    <app-valid-input placeholder="Ubicación"
      [valid]="agregarForm.get('ubicacion').valid && agregarForm.get('ubicacion').touched"
      [invalid]="agregarForm.get('ubicacion').invalid && agregarForm.get('ubicacion').touched"
      [mensajeInvalido]="'Es necesario ingresar la ubicación'" tipo="text" nombre="ubicacion"
      formControlName="ubicacion">
    </app-valid-input>
    <app-valid-select [isDisabled]="tipoModalId == 2" (change)="onTipoSedeChanged($event.detail)" [id]="'tipoSede'" [items]="tiposSedes" [atributo]="'descripcion'" [placeholder]="'Tipo de Sede'"
      [valid]="agregarForm.get('tipoSede').valid && !agregarForm.get('tipoSede').pristine"
      [invalid]="agregarForm.get('tipoSede').invalid && !agregarForm.get('tipoSede').pristine"
      mensajeInvalido="Es necesaria la elección de un tipo de sede" formControlName="tipoSede">
    </app-valid-select>
    <app-valid-select [id]="'sede'" [items]="sedes" [atributo]="'descripcion'" [placeholder]="agregarForm.get('tipoSede').value ? agregarForm.get('tipoSede').value.descripcion : 'Sede'"
      [valid]="agregarForm.get('sede').valid && !agregarForm.get('sede').pristine"
      [invalid]="agregarForm.get('sede').invalid && !agregarForm.get('sede').pristine"
      mensajeInvalido="Es necesaria la elección de una sede" formControlName="sede">
    </app-valid-select>
    <app-valid-select *ngIf="agregarForm.get('tipoSede') && agregarForm.get('tipoSede').value && agregarForm.get('tipoSede').value.id == 1" [id]="'palomar'" [items]="palomares" [atributo]="'descripcion'" [placeholder]="'Palomar'"
      [valid]="agregarForm.get('palomar').valid && !agregarForm.get('palomar').pristine"
      [invalid]="agregarForm.get('palomar').invalid && !agregarForm.get('palomar').pristine"
      mensajeInvalido="Es necesaria la elección de un palomar" formControlName="palomar">
    </app-valid-select>

    <div *ngIf="tipoModalId==2">
      <app-activo-switch formControlName="activo">
      </app-activo-switch>
    </div>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-success"
      [disabled]="!agregarForm.valid || agregarForm.pristine"><span>{{tipoModalId==1 ? 'Registrar' : 'Actualizar'}}</span>
    </button>
    <button type="button" class="btn btn-danger" (click)="bsModalRef.hide()">Cancelar</button>
  </div>
</form>