<div class="modal-header">
  <h6 class="modal-title pull-left font-weight-bold">{{ titulo }}</h6>
</div>

<form [formGroup]="agregarForm" (ngSubmit)=onSubmit(agregarForm.value)>

  <div class="card-body">
    <div class="form-row">
      <div class="col">
        <app-valid-input placeholder="Nombre" [valid]="agregarForm.get('nombre').valid && agregarForm.get('nombre').dirty"
            [invalid]="agregarForm.get('nombre').invalid && agregarForm.get('nombre').dirty"
            [mensajeInvalido]="validarLongitud(agregarForm.get('nombre').value) ? 'Es necesario ingresar el nombre de la interconexión': 'El nombre ya se encuentra en el sistema'" tipo="text" nombre="nombre" formControlName="nombre">
        </app-valid-input>
      </div>
    </div>
    <app-valid-select [items]="destinos" [atributo]="'descripcion'" [placeholder]="'Destino'"
      [valid]="agregarForm.get('destino').valid && !agregarForm.get('destino').pristine"
      [invalid]="agregarForm.get('destino').invalid && !agregarForm.get('destino').pristine"
      mensajeInvalido="Es necesaria la elección de un destino" formControlName="destino">
    </app-valid-select>
    
    <label for="destino">Turno</label>
    <div class="row">
      <div class="col-5">
        <label for="destino">Hora Inicio</label>
      </div>
      <div class="col-5">
        <label for="destino">Hora Fin</label>
      </div>
      <div class="col-2">
    </div>
    </div>
    <div class="row">
      <div class="col-5">
        <div class="form-group">
          <input type="time" [(ngModel)]="horaInicio" max="horaFin" class="form-control"  [ngModelOptions]="{standalone: true}" placeholder="Hora inicio">
        </div>
      </div>
      <div class="col-5">
        <div class="form-group">
          <input type="time" [(ngModel)]="horaFin" min="horaInicio" class="form-control"   [ngModelOptions]="{standalone: true}"  placeholder="Hora fin">
        </div>
      </div>
      <div class="col-2">
        <label for="destino"> </label>
        <button type="button" (click)="agregarTurno(horaInicio,horaFin)" class="btn btn-primary float-right"><i class="fas fa-plus"></i></button>
    </div>
    </div>

    <div *ngIf="turnosSeleccionadas.length > 0; else mensaje" class="row" dndDropzone dndEffectAllowed="copyMove"
      (dndDrop)="onDrop($event, turnosSeleccionadas)">
      <div class="col-6 dndPlaceholder" dndPlaceholderRef>
      </div>
      <div class="col-6" *ngFor="let turno of turnosSeleccionadas" >
          <app-turno-card [turno]="turno" (onClose)="removerTurno(turno)"></app-turno-card>
      </div>
  </div>
  <ng-template #mensaje>
      <div class="row">
          <div class="col">
              <div class="alert alert-warning" role="alert">
                  No hay turnos asociadas al recorrido
              </div>
          </div>
      </div>
  </ng-template>

    <div *ngIf="tipoModalId==2">
      <div class="form-row">
        <div class="col">
          <div class="form-group">
            <label for="activo">Estado</label>
            <select class="form-control" id="activo" formControlName="activo">
              <option value="true">ACTIVADO
              </option>
              <option value="false">DESACTIVADO
              </option>
            </select>
            <span *ngIf="!agregarForm.get('activo').value" class="text-danger small">
              No se puede modificar si está desactivado
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-success"
      [disabled]="agregarForm.invalid || !interconexionFormInitialState.activo"><span>{{tipoModalId==1 ? 'Registrar' : 'Actualizar'}}</span>
    </button>
    <button type="button" class="btn btn-danger" (click)="bsModalRef.hide()">Cancelar</button>
  </div>
</form>