<div class="modal-header">
  <h6 class="modal-title pull-left font-weight-bold">{{ titulo}}</h6>
</div>

<form [formGroup]="agregarForm" (ngSubmit)=onSubmit(agregarForm.value)>

  <div class="card-body">
    <div *ngIf="tipoModalId==2">
      <app-valid-input placeholder="Código" [isDisabled]="true"
        [valid]="agregarForm.get('codigo').valid && agregarForm.get('codigo').touched"
        [invalid]="agregarForm.get('codigo').invalid && agregarForm.get('codigo').touched"
        mensajeInvalido="Es necesario ingresar el código de  bandeja" tipo="text" nombre="codigo"
        formControlName="codigo">
      </app-valid-input>
    </div>
    <app-valid-input placeholder="Ubicación"
      [valid]="agregarForm.get('ubicacion').valid && agregarForm.get('ubicacion').touched"
      [invalid]="agregarForm.get('ubicacion').invalid && agregarForm.get('ubicacion').touched"
      mensajeInvalido="Es necesario ingresar la ubicación" tipo="text" nombre="ubicacion" formControlName="ubicacion">
    </app-valid-input>
    <app-valid-input placeholder="Tipo" [isDisabled]="true" [valid]="false" [invalid]="false" tipo="text" nombre="tipo"
      formControlName="tipo">
    </app-valid-input>
    <div *ngIf="tipoPalomar">
      <div class="row">
        <div class="col">
          <div class="form-group">
            <ng-select [items]=areas bindLabel="nombre" [(ngModel)]="area" [ngModelOptions]="{standalone: true}"
              onkeyup="this.value = this.value.toUpperCase();" placeholder="Selecciona el área">
            </ng-select>
          </div>
        </div>
        <div class="col-2">
          <button type="button" class="btn btn-primary float-right" (click)="agregarArea(area)"><i
              class="fas fa-plus"></i></button>
        </div>
      </div>
      <div *ngIf="areasSeleccionadas.length > 0; else mensaje" class="row" dndDropzone dndEffectAllowed="copyMove"
        (dndDrop)="onDrop($event, areasSeleccionadas)">
        <div class="col-6 dndPlaceholder" dndPlaceholderRef>
        </div>
        <div class="col-6" *ngFor="let area of areasSeleccionadas">
          <app-area-card [area]="area" (onClose)="removerArea(area)"></app-area-card>
        </div>
      </div>
    </div>
    <ng-template #mensaje>
      <div class="row">
        <div class="col">
          <div class="alert alert-warning" role="alert">
            No hay áreas asociadas al palomar
          </div>
        </div>
      </div>
    </ng-template>
    <div *ngIf="tipoModalId==2">
      <app-activo-switch formControlName="activo" [isDisabled]="areasSeleccionadas.length > 0">
      </app-activo-switch>
    </div>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-success"
      [disabled]="agregarForm.invalid"><span>{{tipoModalId==1 ? 'Guardar' : 'Modificar'}}</span>
    </button>
    <button type="button" class="btn btn-danger" (click)="bsModalRef.hide()">Cancelar</button>
  </div>
</form>