<div class="modal-header">
    <h6 class="modal-title pull-left font-weight-bold">CAMBIAR PASSWORD</h6>
    <button type="button" class="close pull-right" aria-label="Close" (click)="cerrar()">
        <span aria-hidden="true" class="text-white">&times;</span>
    </button>
</div>
<form [formGroup]="passwordForm" (ngSubmit)=onSubmit(passwordForm.value)>
    <div class="modal-body pr-3">
        <div class="col-12">
            <app-valid-input
                [valid]="passwordForm.get('passwordActual').valid && passwordForm.get('passwordActual').touched"
                [invalid]="passwordForm.get('passwordActual').invalid && passwordForm.get('passwordActual').touched"
                mensajeInvalido="La contraseña actual es obligatoria" placeholder="Contraseña actual" tipo="password"
                nombre="passwordActual" formControlName="passwordActual">
            </app-valid-input>
            <app-valid-input
                [valid]="passwordForm.get('passwordNuevo').valid && passwordForm.get('passwordNuevo').touched"
                [invalid]="passwordForm.get('passwordNuevo').invalid && passwordForm.get('passwordNuevo').touched"
                mensajeInvalido="La contraseña nueva es obligatoria" placeholder="Contraseña nueva" tipo="password"
                nombre="passwordNuevo" formControlName="passwordNuevo">
            </app-valid-input>
            <app-valid-input
                [valid]="passwordForm.get('passwordNuevo2').valid && passwordForm.get('passwordNuevo2').touched"
                [invalid]="passwordForm.get('passwordNuevo2').invalid && passwordForm.get('passwordNuevo2').touched"
                [mensajeInvalido]="passwordForm.get('passwordNuevo2').value.length > 0 ? 'Las contraseñas deben coincidir': 'Escribir la contraseña nuevamente es obligatorio'" placeholder="Vuelva a escribir la contraseña nueva" tipo="password"
                nombre="passwordNuevo2" formControlName="passwordNuevo2">
            </app-valid-input>
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-success" [disabled]="passwordForm.invalid">Cambiar contraseña</button>
    </div>
</form>