<div class="modal-header">
    <h6 class="modal-title pull-left font-weight-bold">
        {{ tipoFormulario == 1 ? 'Nuevo Usuario' : 'Editar Usuario' }}</h6>
    <button type="button" class="close pull-right" aria-label="Close" (click)="cerrar()">
        <span aria-hidden="true" class="text-white">&times;</span>
    </button>
</div>

<form [formGroup]="usuarioForm" (ngSubmit)="submit(usuarioForm.value)">
    <div class="modal-body pr-3">
        <app-valid-input placeholder="Código"
            [valid]="usuarioForm.get('codigo').valid && usuarioForm.get('codigo').touched"
            [invalid]="usuarioForm.get('codigo').invalid && usuarioForm.get('codigo').touched"
            mensajeInvalido="El código del usuario es obligatorio" tipo="text" nombre="codigo" formControlName="codigo">
        </app-valid-input>
        <app-valid-input placeholder="Nombre"
            [valid]="usuarioForm.get('nombre').valid && usuarioForm.get('nombre').touched"
            [invalid]="usuarioForm.get('nombre').invalid && usuarioForm.get('nombre').touched"
            mensajeInvalido="El nombre es obligatorio" tipo="text" nombre="nombre" formControlName="nombre">
        </app-valid-input>
        <app-valid-input placeholder="Username"
            [valid]="usuarioForm.get('username').valid && usuarioForm.get('username').touched"
            [invalid]="usuarioForm.get('username').invalid && usuarioForm.get('username').touched"
            mensajeInvalido="El username es obligatorio" tipo="text" nombre="nombre" formControlName="username">
        </app-valid-input>
        <app-valid-input placeholder="Correo electrónico"
            [valid]="usuarioForm.get('correo').valid && usuarioForm.get('correo').touched"
            [invalid]="usuarioForm.get('correo').invalid && usuarioForm.get('correo').touched"
            mensajeInvalido="El correo es obligatorio" tipo="text" nombre="correo" formControlName="correo">
        </app-valid-input>
        <div class="form-group">
            <div class="row">
                <div class="col-11"> <input [type]="show_password ? 'text' : 'password'" id="contrasena"
                        class="form-control" formControlName="contrasena" placeholder="Contraseña"></div>
                <div><i [class]="show_password ? 'fa fa-eye' : 'fa fa-eye-slash'"
                        style="padding-top: 50%;color: rgba(15, 82, 128, 0.829);" (click)="showPassword()"></i></div>
            </div>

            <span *ngIf="usuarioForm.get('contrasena').invalid && usuarioForm.get('contrasena').dirty"
                class="text-danger small">
                La contraseña es obligatorio
            </span>
        </div>
        <app-valid-select [isDisabled]="tipoFormulario == 2" (change)="onTipoUsuarioSelectedChanged($event.detail)" [items]="tiposPerfil"
            [atributo]="'nombre'" [placeholder]="'Tipo de perfil'"
            [valid]="usuarioForm.get('tipoPerfil').valid && !usuarioForm.get('tipoPerfil').pristine"
            [invalid]="usuarioForm.get('tipoPerfil').invalid && !usuarioForm.get('tipoPerfil').pristine"
            mensajeInvalido="Es necesaria la elección de un tipo de perfil" formControlName="tipoPerfil">
        </app-valid-select>
        <app-valid-select [items]="perfiles" [atributo]="'nombre'" [placeholder]="'Perfil'"
            [valid]="usuarioForm.get('perfil').valid && !usuarioForm.get('perfil').pristine"
            [invalid]="usuarioForm.get('perfil').invalid && !usuarioForm.get('perfil').pristine"
            mensajeInvalido="Es necesaria la elección de un perfil" formControlName="perfil">
        </app-valid-select>
        <div *ngIf="showUTD">
            <div class="row">
                <div class="col">
                    <app-valid-select [items]="utds" [atributo]="'descripcion'" [placeholder]="'UTD'" [(ngModel)]="utd"
                        [ngModelOptions]="{standalone: true}">
                    </app-valid-select>
                </div>
                <div class="col-2">
                    <button type="button" class="btn btn-primary float-right" (click)="agregarUtd(utd)"><i
                            class="fas fa-plus"></i></button>
                </div>
            </div>
            <div *ngIf="utdsSeleccionadas.length > 0; else mensaje" class="row" dndDropzone>
                <div class="col-6 dndPlaceholder" dndPlaceholderRef>
                </div>
                <div class="col-6" *ngFor="let utd of utdsSeleccionadas">
                    <app-utd-card [utdWrapper]="utd" (click)="toggleSeleccionar(utd)" (onClose)="removerUtd(utd)">
                    </app-utd-card>
                </div>
            </div>
            <ng-template #mensaje>
                <div class="row">
                    <div class="col">
                        <div class="alert alert-warning" role="alert">
                            No hay ningún UTD
                        </div>
                    </div>
                </div>
            </ng-template>
        </div>
        <div *ngIf="!showUTD">
            <app-valid-select [items]="areas" [atributo]="'descripcion'" [placeholder]="'Área'"
            [valid]="usuarioForm.get('area').valid && !usuarioForm.get('area').pristine"
            [invalid]="usuarioForm.get('area').invalid && !usuarioForm.get('area').pristine"
            mensajeInvalido="Es necesaria la elección de un área" formControlName="area">
        </app-valid-select>
        </div>

        <div *ngIf="tipoFormulario!=1">
            <app-activo-switch formControlName="activo">
            </app-activo-switch>
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-success"
            [disabled]="usuarioForm.invalid">{{tipoFormulario==1 ? 'Registrar' : 'Actualizar'}}</button>
    </div>
</form>