<div class="modal-header">
    <h6 class="modal-title pull-left font-weight-bold">
        {{ tipoFormulario == 1 ? 'NUEVO USUARIO' : 'EDITAR USUARIO' }}</h6>
    <button type="button" class="close pull-right" aria-label="Close" (click)="cerrar()">
        <span aria-hidden="true" class="text-white">&times;</span>
    </button>
</div>

<form [formGroup]="usuarioForm" (ngSubmit)="submit(usuarioForm.value)">
    <div class="modal-body pr-3">
        <div class="form-group">
            <label for="codigo">Nombre</label>
            <input type="text" id="nombre" onkeyup="this.value = this.value.toUpperCase();" class="form-control"
                formControlName="nombre" placeholder="Ingrese el nombre">
            <span *ngIf="usuarioForm.get('nombre').invalid && usuarioForm.get('nombre').dirty"
                class="text-danger small">
                El nombre del usuario es obligatorio
            </span>
        </div>
        <div class="form-group">
            <label for="codigo">Username</label>
            <input type="text" id="username" onkeyup="this.value = this.value.toUpperCase();" class="form-control"
                formControlName="username" placeholder="Ingrese el username">
            <span *ngIf="usuarioForm.get('username').invalid && usuarioForm.get('username').dirty"
                class="text-danger small">
                El username es obligatorio
            </span>
        </div>
        <div class="form-group">
            <label for="codigo">Correo Electrónico</label>
            <input type="email" id="correo" onkeyup="this.value = this.value.toUpperCase();" class="form-control"
                formControlName="correo" placeholder="Ingrese el correo">
            <span *ngIf="usuarioForm.get('correo').errors?.required && usuarioForm.get('correo').dirty"
                class="text-danger small">
                El correo es obligatorio
            </span>
            <span *ngIf="usuarioForm.get('correo').errors?.email" class="text-danger small">
                Ingrese un correo de formato correcto
            </span>
        </div>
        <div class="form-group">
            <label for="codigo">Contraseña</label>
            <div class="row">
                <div class="col-11"> <input [type]="show_password ? 'text' : 'password'" id="contrasena"
                        class="form-control" formControlName="contrasena" placeholder="Ingrese el contraseña"></div>
                <div><i [class]="show_password ? 'fa fa-eye' : 'fa fa-eye-slash'" style="padding-top: 50%;color: rgba(15, 82, 128, 0.829);"
                        (click)="showPassword()"></i></div>
            </div>

            <span *ngIf="usuarioForm.get('contrasena').invalid && usuarioForm.get('contrasena').dirty"
                class="text-danger small">
                La contraseña es obligatorio
            </span>
        </div>
        <div class="form-group">
            <label for="codigo">Tipo de perfil</label>
            <ng-select [items]=tiposPerfil bindLabel="nombre" formControlName="tipoPerfil"
                placeholder="Selecciona el tipo de perfil" (change)="onTipoUsuarioSelectedChanged($event)">
            </ng-select>
            <span *ngIf="usuarioForm.get('tipoPerfil').invalid && usuarioForm.get('tipoPerfil').dirty"
                class="text-danger small">
                El tipo de perfil es obligatorio
            </span>
        </div>
        <div class="form-group">
            <label for="codigo">Perfil</label>
            <ng-select [items]=perfiles bindLabel="nombre" formControlName="perfil" placeholder="Selecciona el perfil">
            </ng-select>
            <span *ngIf="usuarioForm.get('perfil').invalid && usuarioForm.get('perfil').dirty"
                class="text-danger small">
                El perfil es obligatorio
            </span>
        </div>
        <div *ngIf="showAreaOrUtd">
            <label for="codigo">UTD</label>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <ng-select [items]=utds bindLabel="descripcion" [(ngModel)]="utd"
                            [ngModelOptions]="{standalone: true}" placeholder="Selecciona el UTD">
                        </ng-select>
                    </div>
                </div>
                <div class="col-2">
                    <button type="button" class="btn btn-primary float-right" (click)="agregarUtd(utd)"><i
                            class="fas fa-plus"></i></button>
                </div>
            </div>
            <div *ngIf="utdsSeleccionadas.length > 0; else mensaje" class="row" dndDropzone>
                <div class="col-6 dndPlaceholder" dndPlaceholderRef>
                </div>
                <div class="col-6" *ngFor="let utd of utdsSeleccionadas">
                    <app-utd-card [utd]="utd" (onClose)="removerUtd(utd)"></app-utd-card>
                </div>
            </div>
            <ng-template #mensaje>
                <div class="row">
                    <div class="col">
                        <div class="alert alert-warning" role="alert">
                            No hay ningún UTD
                        </div>
                    </div>
                </div>
            </ng-template>
        </div>
        <div *ngIf="!showAreaOrUtd">
            <div class="form-group">
                <label for="area">ÁREA</label>
                <ng-select [items]=areas bindLabel="descripcion" formControlName="area"
                    placeholder="Selecciona el área"></ng-select>
                <span *ngIf="usuarioForm.get('area').invalid && usuarioForm.get('area').dirty"
                    class="text-danger small">
                    El área es obligatorio
                </span>
            </div>
        </div>

        <div *ngIf="tipoFormulario!=1">
            <div class="form-row">
                <div class="col">
                    <div class="form-group">
                        <label for="activo">Estado</label>
                        <select class="form-control" id="activo" formControlName="activo">
                            <option value="true">ACTIVADO
                            </option>
                            <option value="false">DESACTIVADO
                            </option>
                        </select>
                        <span *ngIf="!usuarioForm.get('activo').value" class="text-danger small">
                            No se puede modificar si está desactivado
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-success"
            [disabled]="usuarioForm.invalid">{{tipoFormulario==1 ? 'Guardar' : 'Modificar'}}</button>
    </div>
</form>