<div class="modal-header">
    <h6 class="modal-title pull-left font-weight-bold">
        {{ tipoFormulario == 1 ? 'Nuevo Buzón' : 'Editar Buzón' }}</h6>
    <button type="button" class="close pull-right" aria-label="Close" (click)="cerrar()">
        <span aria-hidden="true" class="text-white">&times;</span>
    </button>
</div>

<form [formGroup]="buzonForm" (ngSubmit)="submit(buzonForm.value)">
    <div class="modal-body pr-3">
        <app-valid-input placeholder="Nombre" [valid]="buzonForm.get('nombre').valid && buzonForm.get('nombre').dirty"
            [invalid]="buzonForm.get('nombre').invalid && buzonForm.get('nombre').dirty"
            mensajeInvalido="El nombre del buzón es obligatorio" tipo="text" nombre="nombre" formControlName="nombre">
        </app-valid-input>
        <app-valid-select [items]="areas" [atributo]="'nombre'" [placeholder]="'Área'"
            [valid]="buzonForm.get('area').valid && !buzonForm.get('area').pristine"
            [invalid]="buzonForm.get('area').invalid && !buzonForm.get('area').pristine"
            mensajeInvalido="Es necesaria la elección de un área" formControlName="area">
        </app-valid-select>
        <div>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <ng-select [items]=usuarios bindLabel="nombre" [(ngModel)]="usuario"
                            [ngModelOptions]="{standalone: true}" placeholder="Usuario">
                        </ng-select>
                    </div>
                </div>
                <div class="col-2">
                    <button type="button" class="btn btn-primary float-right" (click)="agregarUsuario(usuario)"><i
                            class="fas fa-plus"></i></button>
                </div>
            </div>
            <div *ngIf="usuariosSeleccionadas.length > 0; else mensaje" class="row" dndDropzone>
                <div class="col-10 dndPlaceholder" dndPlaceholderRef>
                </div>
                <div class="col-10" *ngFor="let usuario of usuariosSeleccionadas">
                    <app-usuario-card [wrapper]="usuario" (click)="seleccionarToggle(usuario)" (onClose)="removerUsuario(usuario)"></app-usuario-card>
                </div>
            </div>
            <span class="small text-danger" *ngIf="usuariosSeleccionadas.length > 0 && !representanteSeleccionado">
                Debes elegir el representante del buzón genérico
            </span>
            <ng-template #mensaje>
                <div class="row">
                    <div class="col">
                        <div class="alert alert-warning" role="alert">
                            No hay ningún usuario seleccionado
                        </div>
                    </div>
                </div>
            </ng-template>
            
        </div>
        <div *ngIf="tipoFormulario!=1">
            <app-activo-switch formControlName="activo">
            </app-activo-switch>
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-success"
            [disabled]="buzonForm.invalid">{{tipoFormulario==1 ? 'Registrar' : 'Actualizar'}}</button>
    </div>
</form>