<app-export [cabecera] = "settings.columns" [registros] = "registros" nombreReporte="reporte-interconexiones" *ngIf="lotesDS.count() !== 0"></app-export>
<form [formGroup]="reporteInterconexionesForm" (ngSubmit)="submit(reporteInterconexionesForm.value)">
    <div class="row justify-content-around">
        <div class="col">
            <div class="form-group row">
                <app-datepicker class="col-6" formControlName="desde" placeholder="Desde"  [maxDate] = "reporteInterconexionesForm.get('hasta').value" ></app-datepicker>
                <app-datepicker class="col-6" formControlName="hasta" placeholder="Hasta"  [minDate] = "reporteInterconexionesForm.get('desde').value" [maxDate]="maxDate" ></app-datepicker>
            </div>
            <div class="form-group row">
                <button class="col btn btn-primary" [disabled] = "reporteInterconexionesForm.invalid" type="submit">
                    Buscar
                </button>
            </div>
        </div>
        
    </div>      
</form>

<div *ngIf="registros.length !== 0; else vacio" class="center mt-3"  style = "overflow-x: scroll;">
    <ng2-smart-table [settings]="settings" [source]="lotesDS"></ng2-smart-table>
</div>

<ng-template #vacio>
    <div class="alert alert-info mt-3" role="alert">
        {{ seHizoBusqueda ? mensajeEnum.SIN_RESULTADOS: mensajeEnum.REALICE_BUSQUEDA }}
    </div>
</ng-template>