<div class="container">
    <div class="page-header mb-5">
        <h2>Mensajería interna
        </h2>
    </div>
    <div class="row">
        <div class="col-md-6 text-center">
            <div style="display:inline-block;width:100%;">
                <ul class="timeline timeline-horizontal">
                    <div class="page-header">
                        <h5 align="center">Entradas
                        </h5>
                    </div>
                    <li class="timeline-item">
                        <div class="ps-top">
                            <h3><strong>{{indicadoresEntrada.creados}}</strong></h3>
                        </div>
                        <div class="timeline-badge primary"></div>
                        <div class="ps-bot">
                            <p>CREADO</p>
                        </div>
                    </li>
                    <li class="timeline-item">
                        <div class="ps-top">
                            <h3><strong>{{indicadoresEntrada.enProceso}}</strong></h3>
                        </div>
                        <div class="timeline-badge primary"></div>
                        <div class="ps-bot">
                            <p>EN PROCESO</p>
                        </div>
                    </li>
                    <li class="timeline-item">
                        <div class="ps-top">
                            <h3><strong>{{indicadoresEntrada.enRuta}}</strong></h3>
                        </div>
                        <div class="timeline-badge primary"></div>
                        <div class="ps-bot">
                            <p>EN RUTA</p>
                        </div>
                    </li>
                    <li class="timeline-item timeline-item-last">
                        <div class="ps-top">
                            <h3><strong>{{indicadoresEntrada.entregados}}</strong></h3>
                        </div>
                        <div class="timeline-badge primary"></div>
                        <div class="ps-bot">
                            <p>DEJADO EN BANDEJA</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-6 text-center">
            <div style="display:inline-block;width:100%;">
                <ul class="timeline timeline-horizontal">
                    <div class="page-header">
                        <h5 align="center">Salidas
                        </h5>
                    </div>
                    <li class="timeline-item">
                        <div class="ps-top">
                            <h3><strong>{{indicadoresSalida.creados}}</strong></h3>
                        </div>
                        <div class="timeline-badge primary"></div>
                        <div class="ps-bot">
                            <p>CREADO</p>
                        </div>
                    </li>
                    <li class="timeline-item">
                        <div class="ps-top">
                            <h3><strong>{{indicadoresSalida.enProceso}}</strong></h3>
                        </div>
                        <div class="timeline-badge primary"></div>
                        <div class="ps-bot">
                            <p>EN PROCESO</p>
                        </div>
                    </li>
                    <li class="timeline-item">
                        <div class="ps-top">
                            <h3><strong>{{indicadoresSalida.enRuta}}</strong></h3>
                        </div>
                        <div class="timeline-badge primary"></div>
                        <div class="ps-bot">
                            <p>EN RUTA</p>
                        </div>
                    </li>
                    <li class="timeline-item timeline-item-last">
                        <div class="ps-top">
                            <h3><strong>{{indicadoresSalida.entregados}}</strong></h3>

                        </div>
                        <div class="timeline-badge primary"></div>
                        <div class="ps-bot">
                            <p>DEJADO EN BANDEJA</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div *ngIf="integracionDocflow">
        <div class="page-header mt-5">
            <h2>Mensajería Externa</h2>
        </div>
        <div class="row">
            <div class="col-md-6 text-center">
                <ul class="timeline timeline-horizontal">
                    <div class="page-header">
                        <h5 align="center">Salidas</h5>
                    </div>
                    <li *ngFor="let item of estadosDocflow; let last = last" class="timeline-item"
                        [ngClass]="{'timeline-item-last': last}" (click) = "detalleIndicadorDocflow(item)">
                        <div class="ps-top">
                            <h3><strong>{{item.cantidad}}</strong></h3>
                        </div>
                        <div class="timeline-badge primary"></div>
                        <div class="ps-bot">
                            <p>{{item.descargo}}</p>
                        </div>
                    </li>
                </ul>

            </div>
        </div>
    </div>
</div>