.container.timeline-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  * {
    box-sizing: border-box;
  }

  .intro {
    position: relative;
  }

  .square {
    width: 100px;
    height: 100px;
    margin: 25px;
    transform:rotate(45deg);
    overflow: hidden;
  }
  .pic {
    background: url(http://placekitten.com/g/150/150);
    /* width: 60px; */
    height: 60px;
    margin: 25px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .picup {
    /* width: 60px; */
    /* margin: 25px; */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .timeline-dot {
    width: 30px;
    height: 30px;
    border-radius: 20px;
    margin: 0 auto;
    background: #4e73df;
    margin-top: -15px;
  }

  .main-heading {
    text-align: center;
    /* font-size: 30px; */
    /* line-height: 30px; */
    position: relative;
  }

  .three-col:after {
    display: block;
    clear: both;
    content: '';
  }

  .three-col .col {
    float: left;
    /* width: 33.33%; */
    width: 25%;
    position: relative;
    /* padding: 0 20px; */
  }

  .sub-heading {
    position: relative;
    display: inline-block;
/*     padding: 35px 0; */
    padding: 0px 0;
  }

  .three-col.top .col::after {
    content: "";
    position: absolute;
    background: #4e73df;
    display: block;
    left: 0;
    right: 0;
    bottom: 0;
    border-bottom: 2px solid #4e73df;
  }

  .three-col.top .col:first-child::after {
    left: 50%;
  }

  .three-col.top .col:last-child::after {
    right: 50%;
  }

  @media (min-width: 576px) {
    .pic {
      width: 100px;
      /* height: 100px; */
    }
  }

  @media (min-width: 800px) {
    .pic {
      width: 150px;
    /*   height: 150px; */
    }
  }

  @media (min-width: 1024px) {
    .pic {
      width: 200px;
      height: 200px;
    }
  }

  @media (min-width: 1200px) {
    .pic {
      width: 250px;
      height: 250px;
    }
  }

  @media (min-width: 576px) {
    .picup {
      width: 100px;
      /* height: 100px; */
    }
  }

  @media (min-width: 800px) {
    .picup {
      width: auto;
      /* height: 150px; */
    }
  }

  @media (min-width: 1024px) {
    .picup {
      width: auto;
      /* height: 200px; */
    }
  }

  @media (min-width: 1200px) {
    .picup {
      width: auto;
      /* height: 250px; */
    }
  }

  // @media (min-width:  200px) {
  //   .classp {
  //       font-size: 15px;
  //   }
  // }

  // @media (min-width:  400px) {
  //   .classp {
  //       font-size: 30px;
  //   }
  // }

  // @media (min-width:  200px) {
  //   .classpbotton {
  //       font-size: 8px;
  //   }
  // }

  // @media (min-width:  426px) {
  //   .classpbotton {
  //       font-size: 15px;
  //   }
  // }

  // @media (min-width:  800px) {
  //   .classpbotton {
  //       font-size: 20px;
  //   }
  // }

  // @media (min-width:  1300px) {
  //   .classpbotton {
  //       font-size: 25px;
  //   }
  // }