<div class="modal-header">
    <h6 class="modal-title pull-left font-weight-bold">
        {{ tipoFormulario == 1 ? 'Nuevo Turno Recorrido' : 'Actualizar Turno Recorrido' }}</h6>
    <button type="button" class="close pull-right" aria-label="Close" (click)="cerrar()">
        <span aria-hidden="true" class="text-white">&times;</span>
    </button>
</div>

<form [formGroup]="turnoRecorridoForm" (ngSubmit)="submit(turnoRecorridoForm.value)">
    <div class="modal-body pr-3">
        <app-valid-input placeholder="Nombre"
            [valid]="turnoRecorridoForm.get('nombre').valid && turnoRecorridoForm.get('nombre').touched"
            [invalid]="turnoRecorridoForm.get('nombre').invalid && turnoRecorridoForm.get('nombre').touched"
            mensajeInvalido="El nombre del turno recorrido es obligatorio" tipo="text" nombre="nombre"
            formControlName="nombre">
        </app-valid-input>
        <app-valid-select [items]="operativos" atributo="descripcion" placeholder="Operativo"
            [valid]="turnoRecorridoForm.get('operativo').valid && !turnoRecorridoForm.get('operativo').pristine"
            [invalid]="turnoRecorridoForm.get('operativo').invalid && !turnoRecorridoForm.get('operativo').pristine"
            mensajeInvalido="El operativo es obligatorio" formControlName="operativo">
        </app-valid-select>

        <div class="row">
            <div class="col">
                <app-valid-input placeholder="Nombre"
                    [valid]="turnoRecorridoForm.get('horaInicio').valid && turnoRecorridoForm.get('horaInicio').touched"
                    [invalid]="turnoRecorridoForm.get('horaInicio').invalid && turnoRecorridoForm.get('horaInicio').touched"
                    mensajeInvalido="La hora inicial es obligatoria" tipo="time" nombre="horaInicio"
                    formControlName="horaInicio">
                </app-valid-input>

            </div>
            <div class="col">
                <app-valid-input placeholder="Nombre"
                    [valid]="turnoRecorridoForm.get('horaFin').valid && turnoRecorridoForm.get('horaFin').touched"
                    [invalid]="turnoRecorridoForm.get('horaFin').invalid && turnoRecorridoForm.get('horaFin').touched"
                    mensajeInvalido="La hora final es obligatoria" tipo="time" nombre="horaFin"
                    formControlName="horaFin">
                </app-valid-input>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <ng-select [items]=areas bindLabel="nombre" [(ngModel)]="area" [ngModelOptions]="{standalone: true}"
                        placeholder="Selecciona el área">
                    </ng-select>
                </div>
            </div>
            <div class="col-2">
                <button type="button" class="btn btn-primary float-right" (click)="agregarArea(area)"><i
                        class="fas fa-plus"></i></button>
            </div>
        </div>
        <div *ngIf="areasSeleccionadas.length > 0; else mensaje" class="row" dndDropzone dndEffectAllowed="copyMove"
            (dndDrop)="onDrop($event, areasSeleccionadas)">
            <div class="col-6 dndPlaceholder" dndPlaceholderRef>
            </div>
            <div class="col-6" *ngFor="let area of areasSeleccionadas" [dndDraggable]="area" dndEffectAllowed="move"
                (dndMoved)="onDragged(area, areasSeleccionadas, 'move')">
                <app-area-card [area]="area" (onClose)="removerArea(area)"></app-area-card>
            </div>
        </div>
        <ng-template #mensaje>
            <div class="row">
                <div class="col">
                    <div class="alert alert-warning" role="alert">
                        No hay áreas asociadas al recorrido
                    </div>
                </div>
            </div>
        </ng-template>
        <div *ngIf="tipoFormulario == 2" class="custom-control custom-switch form-group mt-3">
            <input type="checkbox" class="custom-control-input" id="activo" formControlName="activo">
            <label class="custom-control-label" for="activo">Activo</label>
        </div>

    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-success" [disabled]="turnoRecorridoForm.invalid">{{tipoFormulario==1 ? 'Registrar' : 'Actualizar'}}</button>
    </div>
</form>