<form [formGroup]="historicosForm" (ngSubmit)="submit(historicosForm.value)">
    
    <div class="row justify-content-around mb-5">
        <div class="col">
            <div class="form-group row">
                <app-datepicker class="col-6" formControlName="desde" placeholder="Desde"  [maxDate] = "historicosForm.get('hasta').value" ></app-datepicker>
                <app-datepicker class="col-6" formControlName="hasta" placeholder="Hasta"  [minDate] = "historicosForm.get('desde').value" [maxDate]="maxDate" ></app-datepicker>
            </div>
            <div class="form-group row">
                <button class="col btn btn-primary" [disabled] = "historicosForm.invalid" type="submit">
                    Buscar
                </button>
            </div>
        </div>
        
    </div>
</form>

<app-tabs [tabs]="tabs" [tabActiva]="tabActiva" (tabCambiado)="tabCambiado($event)"></app-tabs>

<div class="row mt-4" *ngIf="enviosWrappers.length > 0; else vacio">
    <div class="col-12 col-sm-8 col-lg-6 col-xl-4 card-parent" *ngFor="let item of enviosWrappers">
        <app-envio-card [envioWrapper]="item"></app-envio-card>
    </div>
</div>

<ng-template #vacio>
    <div class="alert alert-info mt-3" role="alert">
        {{ seHizoBusqueda ? mensajeEnum.SIN_RESULTADOS: mensajeEnum.REALICE_BUSQUEDA }}
    </div>
</ng-template>