#goback {
    &:hover{
        background-color: #cbc3c333;
        width: 2.5rem;
        height: 2.5rem;
    }    
    color: #858796;
    border: none;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    background-color: transparent;

}

.my-el:before {
    content:attr(data-letters);
    display:inline-block;
    font-size:1em;
    width:2.5em;
    height:2.5em;
    line-height:2.5em;
    text-align:center;
    border-radius:50%;
    background:#4e73df;
    vertical-align:middle;
    color:white;
    margin-right: 5px;
    }