<div class="container mt-5">    
    <div class="row justify-content-center">
        <div class="col col-md-10 col-lg-8 col-xl-6">
            <div class="card">
                <div class="card-body">
                    <h2><span class=" font-weight-bold" style="color: #0060a7;">Hola {{nombreUsuario}}!</span></h2>
                    <p class="text-justify mt-5">
                        <img class="mb-2 ml-2" src="./../../../assets/img/isotipo-color.png" height="15"> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Hic, minus temporibus magnam quos architecto tenetur nulla ad voluptatum, aliquam esse nisi perspiciatis nam quisquam voluptate dicta illum blanditiis totam maiores!    
                    </p>
                    <p class="text-justify">
                        <img class="mb-2 ml-2" src="./../../../assets/img/isotipo-color.png" height="15"> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Hic, minus temporibus magnam quos architecto tenetur nulla ad voluptatum, aliquam esse nisi perspiciatis nam quisquam voluptate dicta illum blanditiis totam maiores!    
                    </p>
                    <img src="./../../../assets/img/logo-slogan-negro.png" class="float-right mt-3" style="opacity: 50%;" height="50">
                </div>
            </div>
            
        </div>
    </div>
    
</div>  