<div class="modal-header">
    <h6 class="modal-title pull-left font-weight-bold">Detalle de errores</h6>
    <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
        <span aria-hidden="true" class="text-white">&times;</span>
    </button>
</div>
<div class="modal-body pr-3">
    <div class="col alert alert-warning ">
        {{mensaje}}
    </div>
    <app-export [cabecera] = "settings.columns" [registros] = "lista" nombreReporte="detalle-errores" *ngIf="lista.length > 0"></app-export>
    <div *ngIf="lista.length > 0" class="center mt-3"  style = "overflow-x: scroll;">
        <ng2-smart-table [settings]="settings" [source]="erroresDS"></ng2-smart-table>
    </div>
</div>
