/* You can add global styles to this file, and also import other style files */
@import './scss/app';

.card{
    cursor: pointer;
    transition: $transition-color;
}
.card:hover{
    background-color: $blue;
    color: $white;
}

.pointer {
    cursor: pointer;
}

.modal-content {
    border: none;
}

.modal-header {
    background-color: $blue;
    color: $white;
}
