    <div class="modal-header">
        <h6 class="modal-title pull-left font-weight-bold">MODIFICAR ÁREA</h6>
    </div>
  
    <form [formGroup]="modificarForm" (ngSubmit)=onSubmit(modificarForm.value)>
  
      <div class="card-body">
  
        <div *ngIf="area.activo">
  
          <div class="form-row">
            <div class="col">
              <div class="form-group">
                <label for="nombre">Nombre del área</label>
                <input class="form-control" type="text" name="nombre" id="nombre" formControlName="nombre">
                <span *ngIf="!modificarForm.get('nombre').valid && modificarForm.get('nombre').touched"
                  class="text-danger small">
                  El nombre del área no puede estar vacío
                </span>
              </div>
            </div>
          </div>
  
          <div class="form-row">
            <div class="col">
              <div class="form-group">
                <label for="area">Sedes</label>
                <select class="form-control" id="area" formControlName="area">
                  <option *ngFor="let area of areas" [ngValue]="area">{{<area shape="" coords="" href="" alt="">.nombre}}</option>
                </select>
                <span *ngIf="!modificarForm.get('area').valid && modificarForm.get('area').touched"
                  class="text-danger small">
                  Es necesario la elección de una región
                </span>
              </div>
            </div>
          </div>
  
  
        </div>
  
        <div class="form-row">
          <div class="col">
            <div class="form-group">
              <label for="activo">Estado</label>
              <select class="form-control" id="activo" formControlName="activo">
                <option value="true">ACTIVADO
                </option>
                <option value="false">DESACTIVADO
                </option>
              </select>
              <span *ngIf="!modificarForm.get('activo').value" class="text-danger small">
                No se puede modificar si está desactivado
              </span>
            </div>
          </div>
        </div>
  
      </div>
  
      <div class="modal-footer">
        <button type="submit" class="btn btn-success"
          [disabled]="!modificarForm.valid || modificarForm.pristine">Modificar</button>
        <button type="button" class="btn btn-danger" (click)="bsModalRef.hide()">Cancelar</button>
      </div>
    </form>
  
