<div class="my-4 mb-2">
  <input class="btn btn-primary" type="submit" value="Nuevo" (click)="onAgregar()">
</div>

<div *ngIf="areas.length !== 0; else mensaje" class="center  " style="overflow-x: scroll;">
  <div class="smart-table-container">
    <ng2-smart-table [settings]="settings" [source]="dataAreas"></ng2-smart-table>
  </div>
</div>
<ng-template #mensaje>
  <div class="row">
    <div class="col">
      <div class="alert alert-info" role="alert">
        La UTD no tiene ningún área asociada.
      </div>
    </div>
  </div>
</ng-template>